DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce

JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=7d

PAYMENT_WEBHOOK_SECRET=change-me-webhook

PORT=3000
CORS_ORIGIN=http://localhost:5173,http://localhost:3001
NODE_ENV=development
